.banner {
    background-color: lightblue;
    width: 100%;
}

.menutile {
    background-color: aliceblue;
    font-size: xx-large;
}

#user-table {
    border-collapse: collapse;
    width: 100%;
}

.td-data, #user-table th{
    border: 1px solid #ddd;
    padding: 8px;
}

#user-table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ADD8E6;
    color: #007bff  ;
}

.div-spaces{
    margin-bottom: 30px;
}
#dialog-window{
    padding: 10px;
    position: fixed;
    left: 25%;
    right: 30%;
    bottom: 27%;
    top: 25%;
    background-color: white;
    border: solid 2px gray;
    z-index: 1000;
    animation-name: fade;
    animation-duration: 0.5s;
}
#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.7);
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes defade {
    from{ opacity: 1;}
    to{opacity: 0;}
}

.sideway{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: crimson;
}

