.banner {
    background-color: lightblue;
    width: 100%;
}

.menutile {
    background-color: aliceblue;
    font-size: xx-large;
}
.sideway{
    transform: rotate(-90deg);
    width: 60%;
    color: crimson;
}
.input{

    
}
.cellh100{
    height: 100%;
}
.center{

    text-align: center;

}
.trh{

    height: 80%;
}

.big-text{

    font-size: 300%;
}
.input2{
    width: 100%;
}

.FirstCase{
    border: 2px solid black;
width: 100%;

}


table{

    width: 100%;
}
th{


}

#site{
    margin-left:100px;
}



#année{
    margin-left:15px;

}